<template>
  <c-box>
    <c-flex mt="16" maxW="1680px" mx="auto">
      <c-stack spacing="16" flex="1" :mx="[6, 10]" mb="32">
        test
      </c-stack>
    </c-flex>
  </c-box>
</template>

<script>
import { CBox, CFlex, CStack } from '@chakra-ui/vue'

export default {
  name: 'Dashboard',
  components: { CBox, CFlex, CStack }
}
</script>
