<template language="html">
  <card>
    <c-stat>
      <c-stat-label>Installation</c-stat-label>
      <c-stat-helper-text>Define your self</c-stat-helper-text>
    </c-stat>
    <form>
      <c-stack justify-content="flex-start" align-items="stretch" p="2em">
        <c-input placeholder="Email" type="email" v-model="email" />
        <c-textarea placeholder="Bio" v-model="bio" />
        <c-button
          :is-disabled="email === '' || bio === ''"
          :is-loading="isLoading"
          loading-text="Saving"
          variant-color="green"
          @click.prevent="handleSave()"
          >Save</c-button
        >
      </c-stack>
    </form>
  </card>
</template>

<script>
import api from '@/api'

import {
  CStat,
  CStatLabel,
  CStatHelperText,
  CStack,
  CInput,
  CTextarea,
  CButton
} from '@chakra-ui/vue'
import Card from '@/components/Card.vue'

export default {
  name: 'Install',
  data() {
    return {
      isLoading: false,
      email: '',
      bio: ''
    }
  },
  components: {
    Card,
    CStat,
    CStatLabel,
    CStatHelperText,
    CStack,
    CInput,
    CTextarea,
    CButton
  },
  methods: {
    async handleSave() {
      this.isLoading = true
      const res = await api
        .post('setting', {
          json: {
            email: this.email,
            installed: true
          }
        })
        .json()
      this.isLoading = false

      if (res.installed) {
        localStorage.setItem('installed', true)
        this.$router.push('/d')
        return
      }

      this.$toast({
        title: 'Installation failed',
        description: 'something went wrong',
        status: 'danger',
        duration: 10000
      })
    }
  }
}
</script>
