<template>
  <c-grid
    template-columns="repeat(5, 1fr)"
    gap="6"
    d="flex"
    justify-content="center"
  >
    <c-circular-progress
      is-indeterminate
      mt="4em"
      color="green"
      v-if="isLoading"
    />
  </c-grid>
</template>

<script>
import { CCircularProgress, CGrid } from '@chakra-ui/vue'

import api from '@/api'

export default {
  name: 'Root',
  data() {
    return {
      isLoading: false
    }
  },
  components: { CCircularProgress, CGrid },
  async created() {
    const installed = localStorage.getItem('installed')

    if (!installed) {
      this.isLoading = true
      const res = await api('setting').json()

      this.isLoading = false

      if (!res.installed) {
        this.$router.push('install')
      }

      return
    }

    this.$router.push('d')
  }
}
</script>
