<template>
  <c-box
    pos="relative"
    bg="white"
    rounded="md"
    p="2em"
    w="25em"
    mt="4em"
    mx="auto"
    shadow="lg"
  >
    <slot></slot>
  </c-box>
</template>

<script>
import { CBox } from '@chakra-ui/vue'

export default {
  name: 'Card',
  components: { CBox }
}
</script>
