<template>
  <c-flex
    bg="#1a202c"
    height="3rem"
    px="1rem"
    justify-content="space-between"
    as="header"
  >
    <c-flex
      width="14rem"
      color="white"
      height="100%"
      as="a"
      font-size="xl"
      align-items="center"
      aria-label="Biasa"
    >
      <c-box font-size="2xl" mr="1" color="green">
        biasa
      </c-box>
    </c-flex>
  </c-flex>
</template>

<script>
import { CFlex, CBox } from '@chakra-ui/vue'

export default {
  name: 'Header',
  components: { CFlex, CBox }
}
</script>
